body {
  background-color: black;
}

img.displayed {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
#  width: 100%;
}

@font-face {
  font-family: InnerversGothic;
  src: url("fonts/Innervers Gothic 40 Regular.otf") format("opentype");
}

p.text_subtitle {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  width: 40em;
  color: white;
  text-decoration: none;
  font-family: InnerversGothic;
  font-size: 30px;
  text-align: center;
}

p.blocktext {
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  width: 40em;
  color: white;
  font-family: InnerversGothic;
  font-size: 20px;
  text-align: center;
}

p.text_subtitle_nounder {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  width: 40em;
  color: white;
  font-family: InnerversGothic;
  font-size: 30px;
  text-align: center;
}

p.mercadoshops {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  width: 100%;
  color: white;
  font-family: InnerversGothic;
  font-size: 100px;
  text-align: center;
}
