- @page_id = :index
- @title = "Maquillaje Titi - “La Casa de los Artistas”"

p Este es nuestro espacio para darte a conocer quienes somos y para poder conocerte a vos.
  Nuestras puertas están abiertas para atender las necesidades de todos los artistas que necesitan productos de calidad a un precio razonable.
p Tu consulta no molesta. Escribinos.
