<html lang="es"><head>
    <title> Maquillaje TITI - “La Casa de los Artistas”</title>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="Maquillajes pinturas Pestañas barbas bigotes postizos Efectos especiales">
    <link rel="stylesheet" type="text/css" title="Titi" href="/frontend_new.css">
  </head>
  <body>
    <div id="contenido">
      <div id="mainScreen">
        <img class="displayed" src="/media/brand_logo.png" width="800" height="336">
      </div>
      <div id="contacto">
        <p class="text_subtitle">
          Local comercial y venta al público:
        </p>
        <p class="blocktext">
          Sarmiento 1179 Local 3 - Ciudad de Buenos Aires - Argentina
        </p>
        <p class="blocktext">
          Horario: Lunes a Viernes de 10:30 a 18:30 hs.
        </p>
        <p class="blocktext">
          <a href="mailto:ventas@maquillajetiti.com.ar">ventas@maquillajetiti.com.ar</a> // Tel: (011) 4382-5977
        </p>
        <p class="text_subtitle">
          Venta mayorista y revendedores:
        </p>
        <p class="blocktext">
          <a href="mailto:admin@maquillajetiti.com.ar">admin@maquillajetiti.com.ar</a> // Tel: (011) 15-5515-4688
        </p>
        <p class="blocktext">
          Seguinos en: <a href="facebook" target="facebook">facebook.com/maquillajetiti</a>
        </p>
      </div>
      <div id="catalogo">
        <p class="text_subtitle_nounder">
          Descargá el <a href="catalog">catálogo</a> en version pdf
        </p>
      </div>
      <div id="sitioenconstruccion">
        <p class="sitioenconstruccion">
          Sitio en construcción
        </p>
      </div>
    </div>  
</body></html>
